@charset "utf-8";
/*
@import url(/styles/common.css);
@import url(/styles/themes/portal/common/utils/calendar.css);
@import url(/styles/themes/portal/common/utils/predictive.css);
*/
div.teamsite_r2
{
    display: none;
}

#des-msg
{
    position: absolute;
    margin: -13px 0 0 0;
    left: 275px;
    z-index: 97;
    padding: 4px;
}

#des-msg-tip
{
    background: transparent url(/img/common/icon/tooltip.png) -127px top no-repeat;
    width: 7px;
    height: 15px;
    position: absolute;
    margin: 15px 0 0 -4px;
    z-index: 98;
    
}

#des-msg-body
{
    background: rgba(0,0,0,0.2) none;
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
    width: 220px;
    *width: 214px;
    padding: 3px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
}

#msg-close
{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 15px;    
    background: transparent url(/img/common/icon/tooltip.png) -510px top no-repeat;
}

#msg-title
{
    text-shadow: 0 1px 0 #000;
    background-color: #374e59;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    font-size: 13px;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
}

#msg-content
{
    background-color: #fff;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    -moz-border-radius:  0 0 3px 3px;
    -webkit-border-radius:  0 0 3px 3px;
    -o-border-radius:  0 0 3px 3px;
}

#ipad-bm
{
    position: absolute; 
    display: none; 
    width: 240px; 
    left: 300px; 
    top: 2px; 
    z-index: 999;
}

#ipad-bm-tip
{
    background: transparent url(/img/common/icon/bm-ipad-tip.png) no-repeat top center; 
    width: 100%;
    height: 11px;
    position: absolute;
}

#ipad-bm-copy
{
    margin: 9px 0 0 0;
    color: #555;
    text-shadow: 0 1px 0 rgba(244,244,244,1);
    background: #f0f0f0;
    background: linear-gradient(top, #f4f4f4 0%,#f0f0f0 100%);
    background: -moz-linear-gradient(top, #f4f4f4 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#f0f0f0));
    background: -webkit-linear-gradient(top, #f4f4f4 0%,#f0f0f0 100%);
    background: -ms-linear-gradient(top, #f4f4f4 0%,#f0f0f0 100%);
    background: -o-linear-gradient(top, #f4f4f4 0%,#f0f0f0 100%);
    border: 1px solid #dedede;
    box-shadow: 0 1px 0 rgba(244,244,244,1) inset;
    -moz-box-shadow: 0 1px 0 rgba(244,244,244,1) inset;
    -webkit-box-shadow: 0 1px 0 rgba(244,244,244,1) inset;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
    padding: 15px 10px 15px 10px
}

div.header_nav
{
    padding: 0 0 10px 0;
}

div#main
{
    padding: 10px 0 0 0;
}

label.rdo, label.chk
{
    width: auto !important;
    margin: 0 15px 0 0;
    padding: 0 0 0 0 !important;
    font-weight: normal;
    float: left !important;
    display: inline !important;
}

input.rdo, input.chk
{
    width: 14px !important;
    height: 14px !important;
    overflow: hidden !important;
    padding: 0 !important;
    margin: 0 3px 0 0;
    float: left !important;
    display: inline !important;
}

/* Region Selector */
#regionSelect
{
    margin-right: -300px;
    position: absolute;
    right: 50%;
    top:35px;
    z-index: 99999;
}

#regionSelect *
{
    font-size: 11px;
}

#selectLanguage
{
    float:right;
    padding: 5px 10px;
    margin: 0 0 0 10px;
    color: #374e59;
}

#selectLanguage:hover
{
    text-decoration: none;
}

#currentRegionSelect
{
    font-weight: bold;
    cursor: pointer;
    background: #FFFFFF url(/img/common/cta/arrow-down-light-grey.png) no-repeat right  10px;
    padding:0 20px 0 0;
    margin:0 15px 0 0;
    float:left;
}

#currentRegionSelect.active
{
    background: #FFFFFF url(/img/common/cta/arrow-up-light-grey.png) no-repeat right 10px;
}

#currentRegionSelect span
{
    padding: 5px 10px 5px 33px;
    display: block;
    background-image: url(/img/_red08/common/regionselector/flags.gif); 
    background-repeat: no-repeat;
}

#currentRegionSelect span.AS,
#currentRegionSelect span.AM,
#currentRegionSelect span.EU,
#currentRegionSelect span.SP,
#currentRegionSelect span.AF
{
    background: none;
    padding: 5px 10px;
}

#selectRegion
{
    width: 176px;
    height: 300px;
    overflow: auto;
    border-bottom: 1px solid #dedede;
    position: absolute;
    left: 0;
    top: 25px;
}

#selectRegionRoot
{
}

#regionSelect ul
{
    border-left: 1px solid #dedede;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#regionSelect ul ul
{
    position: static;
    border: 0px none;
    padding: 0;
    margin: 0;
    width: auto;
    background-color: transparent;
    background-image: none;
    display: block;
    height: auto;
    overflow: hidden;
}

#regionSelect li span
{
    display: block;
    padding: 7px 5px 7px 10px;
}

#regionSelect li li span
{
    background-repeat: no-repeat;
    padding: 5px 5px 7px 33px;
    background-image: url(/img/_red08/common/regionselector/flags.gif); 
}

#regionSelect li
{
    list-style: none;
    font-weight: bold;
    display: block;
    padding: 0 0 0 0;
    background: transparent none;
}

#regionSelect li li
{
    font-weight: normal;
    margin: 0 0 0 0;
}

#regionSelect li a:visited, #regionSelect li a:link
{
    display: block;
    text-decoration: none;
    color: #333;
}

#regionSelect li.active li span
{
    color: #000;
    font-weight: normal;
}

#regionSelect li.active li a:hover span, #regionSelect li.active li a:focus span
{
    color: #dd0000;
}

#regionSelect li.active span, #regionSelect li a:hover, #regionSelect li a:focus
{
    color: #dd0000;
}

#regionSelect li.active span
{
    font-weight: bold;
}

/* Africa */
#regionSelect span.ZA { background-position: 10px 2px; }
#regionSelect span.SA { background-position: 10px 2px; }

/* Americas */
#regionSelect span.AR { background-position: 10px -33px; }
#regionSelect span.BR { background-position: 10px -1118px; }
#regionSelect span.CA { background-position: 10px -68px; }
#regionSelect span.CL { background-position: 10px -101px; }
#regionSelect span.MX { background-position: 10px -136px; }
#regionSelect span.US { background-position: 10px -171px; }

/* Asia */
#regionSelect span.CN { background-position: 10px -208px; }
#regionSelect span.HK { background-position: 10px -243px; }
#regionSelect span.IN { background-position: 10px -278px; }
#regionSelect span.ID { background-position: 10px -313px; }
#regionSelect span.JP { background-position: 10px -348px; }
#regionSelect span.KR { background-position: 10px -383px; }
#regionSelect span.PH { background-position: 10px -418px; }
#regionSelect span.SG { background-position: 10px -453px; }
#regionSelect span.TW { background-position: 10px -488px; }
#regionSelect span.TH { background-position: 10px -523px; }
#regionSelect span.VN { background-position: 10px -558px; }

/* Australia */
#regionSelect span.AU { background-position: 10px -593px; }

/* Europe */
#regionSelect span.AT { background-position: 10px -628px; }
#regionSelect span.FR { background-position: 10px -663px; }
#regionSelect span.DE { background-position: 10px -698px; }
#regionSelect span.IE { background-position: 10px -1155px; }
#regionSelect span.IT { background-position: 10px -733px; }
#regionSelect span.NL { background-position: 10px -768px; }
#regionSelect span.ES { background-position: 10px -803px; }
#regionSelect span.CH { background-position: 10px -838px; }
#regionSelect span.GB { background-position: 10px -873px; }

/* South Pacific */
#regionSelect span.FJ { background-position: 10px -908px; }
#regionSelect span.PF { background-position: 10px -943px; }
#regionSelect span.NC { background-position: 10px -978px; }
#regionSelect span.NZ { background-position: 10px -1013px; }
#regionSelect span.VU { background-position: 10px -1048px; }
#regionSelect span.PG { background-position: 10px -1083px; }

/* Homepage Login */
#login_pin { width: 40px; }
#login_ffNumber, #login_surname, #mybSurname, #mybNo, #ocSurname, #ocNo { *width: 170px; }
#forgotPin
{
    position: absolute;
    right: 0px;
    top: 7px;
    font-size: 11px;
}

div.homepageRight
{
}

.userAccess
{
    background-color: #fff;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    zoom: 1;
}

.userAccess fieldset, .userAccess div.content
{
    padding: 10px;
    border-top: 1px solid #dedede;
    height: 200px;
    *height: 180px;
    background-color: #fff;
    zoom: 1;
}

.userAccess button
{
    margin: 0 5px 0 0;
}

.userAccess .control
{
    position: relative;
    zoom: 1;
    padding: 0 0 10px 0;
}

.userAccess .placeholder label
{
    position: absolute;
    color: #767676;
    cursor: text;
    padding: 7px;
    display: block;
}

.userAccess .placeholder input[type=text], .userAccess .placeholder input[type=password]
{
    width: 100%;
    padding: 5px;
    display: inline-block;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.userAccess div.fflyer a, .userAccess div.fflyer strong
{ 
    background-position: 10px -20px !important; 
}

.userAccess div.myb a, .userAccess div.myb strong
{ 
    background-position: 10px -55px !important; 
}

.userAccess div.oc a, .userAccess div.oc strong
{ 
    background-position: 10px 11px !important; 
}

.userAccess div.toggle
{
    outline: none;
    background-color: #f4f4f4;
    background: linear-gradient(top, #f4f4f4 0%,#f0f0f0 100%);
    background: -moz-linear-gradient(top, #f4f4f4 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#f0f0f0));
    background: -webkit-linear-gradient(top, #f4f4f4 0%,#f0f0f0 100%);
    background: -ms-linear-gradient(top, #f4f4f4 0%,#f0f0f0 100%);
    background: -o-linear-gradient(top, #f4f4f4 0%,#f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f0f0f0',GradientType=0 );
    zoom: 1;
    display: block;
}

.userAccess div.toggle a
{
    text-shadow: 0 1px 0 rgba(244,244,244,1);
    color: #555;
    display: block;
    padding: 0 0 0 25px;
    background: transparent url(/img/specific/homepage/sprites_grey.gif) no-repeat;
    box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    border-top: 1px solid #dedede;
    text-decoration: none;
}

.userAccess div.toggle:hover
{
    background-color: #fafafa;
    background: linear-gradient(top, #fafafa 0%,#f6f6f6 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #f6f6f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f6f6f6));
    background: -webkit-linear-gradient(top, #fafafa 0%,#f6f6f6 100%);
    background: -ms-linear-gradient(top, #fafafa 0%,#f6f6f6 100%);
    background: -o-linear-gradient(top, #fafafa 0%,#f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f6f6f6',GradientType=0);
    box-shadow: 0 1px 1px rgba(174,174,174,0.3), inset 0 1px 0 rgba(244,244,244,1);
    -moz-box-shadow: 0 1px 1px rgba(174,174,174,0.3), inset 0 1px 0 rgba(244,244,244,1);
    -webkit-box-shadow: 0 1px 1px rgba(174,174,174,0.3), inset 0 1px 0 rgba(244,244,244,1);
}

.userAccess div.toggle:focus
{   
    background-color: #fafafa;
    background: linear-gradient(top, #fafafa 0%,#f6f6f6 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #f6f6f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f6f6f6));
    background: -webkit-linear-gradient(top, #fafafa 0%,#f6f6f6 100%);
    background: -ms-linear-gradient(top, #fafafa 0%,#f6f6f6 100%);
    background: -o-linear-gradient(top, #fafafa 0%,#f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f6f6f6',GradientType=0);
    border: 1px solid #bbb;
    box-shadow: 0 1px 3px rgba(187,187,187,1) inset;
    -moz-box-shadow: 0 1px 2px rgba(187,187,187,1) inset;
    -webkit-box-shadow: 0 1px 2px rgba(187,187,187,1) inset;
}

.userAccess div.toggle.active:hover, .userAccess div.toggle.active:focus
{
    background-color: #f4f4f4;
    background: linear-gradient(top, #f4f4f4 0%,#f0f0f0 100%);
    background: -moz-linear-gradient(top, #f4f4f4 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#f0f0f0));
    background: -webkit-linear-gradient(top, #f4f4f4 0%,#f0f0f0 100%);
    background: -ms-linear-gradient(top, #f4f4f4 0%,#f0f0f0 100%);
    background: -o-linear-gradient(top, #f4f4f4 0%,#f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f0f0f0',GradientType=0 );
    box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
}

.userAccess div.toggle:first-child
{
    border-top: 0px none;
}

.userAccess div.toggle span
{
    background: transparent url(/img/common/cta/arr-black-down.png) no-repeat 159px 17px;
    padding: 12px 20px 12px 25px;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.userAccess div.toggle.active span
{
    background: transparent url(/img/common/cta/arr-black-up.png) no-repeat 159px 17px;
}

#ffloggedin
{
    position: relative;
    zoom: 1;
    padding: 0 0 0 0;
    height: 200px !important;
}

    #logout
    {
        float: right;
        display: inline;
        padding: 10px;
    }
    
    #ffloggedin #title-name
    {
        margin: 0 0 0 0;
        padding: 10px;
        border-bottom: 1px solid #dedede;
        display: block;
    }

    #title-name span
    {
        display: block;
        line-height: 20px;
    }
    
    #ffloggedin p
    {
        padding: 10px 10px 0 10px;
        margin: 0 0 0 0;
    }
    
        #ff-points strong, #ff-no strong
        {
            float: right;
            display: inline;
        }
    
        #ff-points span, #ff-no span
        {
            float: left;
            display: inline;
            width: 100px;
        }
    
    #iwantto
    {
        margin: 10px;
    }
        

/* Homepage Call to Action items */

#redemail-cta
{
    position: absolute;
    top: 0;
    right: -6px;
    z-index: 80;
    background: transparent url(/img/specific/homepage/redemail.png) no-repeat top left;
    padding: 0 0 0 38px;
    zoom: 1;
    cursor: pointer;
}

#redemail-cta a
{
    padding: 0 6px 0 0;
    background: transparent url(/img/specific/homepage/redemail.png) no-repeat top right;
    display: block;
    height: 33px;
    text-decoration: none;
}

#redemail-cta a span
{
    position: absolute;
    top: -9999px;
    left: -9999px;
    color: #fff;
    display: inline-block;
    *display: block;
    padding: 6px 3px;
    font-weight: bold;
    text-shadow: 0 1px 0 #aa0000;
}

#redemail-cta:hover span
{
    position: static;
    top: auto;
    left: auto;
}

#feature-cta
{
}
    #feature-cta a
    {
        display: block;
        margin: 10px 0 0 0;
        color: #555;
        text-decoration: none;
        font-weight: bold;
        background: #e0e0e0;
        background: -moz-linear-gradient(top, #ebebeb 0%, #e0e0e0);
        background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#e0e0e0));
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }
    
    #feature-cta a:hover
    {
        background: #ebebeb;
        box-shadow: 0 1px 1px rgba(174,174,174,0.3), inset 0 1px 0 rgba(244,244,244,1);
        -moz-box-shadow: 0 1px 1px rgba(174,174,174,0.3), inset 0 1px 0 rgba(244,244,244,1);
        -webkit-box-shadow: 0 1px 1px rgba(174,174,174,0.3), inset 0 1px 0 rgba(244,244,244,1);
    }
    
    #feature-cta a:focus
    {
        background: #dedede;
        box-shadow: 0 1px 3px rgba(187,187,187,1) inset;
        -moz-box-shadow: 0 1px 2px rgba(187,187,187,1) inset;
        -webkit-box-shadow: 0 1px 2px rgba(187,187,187,1) inset;
    }
    
    #feature-cta a span
    {
        display: block;
        border: 1px solid #dedede;
        background-image: url(/img/specific/homepage/sprites_grey.gif);
        background-color: transparent;
        background-repeat: no-repeat;
        box-shadow: 0 1px 0 #fff inset;
        -moz-box-shadow: 0 1px 0 #fff inset;
        -webkit-box-shadow: 0 1px 0 #fff inset;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        color: #555;
        text-shadow: 0 1px 0 #fff;
        padding: 15px 15px 15px 50px;
        text-decoration: none;
    }
    
    #feature-cta a.flightstatus span
    {
        background-position: 10px -95px;
    }
    
    #feature-cta a.redemail span
    {
        background-position: 10px -143px;
    }
    
#remember-security *
{
    font-size: 11px;
}

    #remember-security a.security
    {
        padding: 0 0 0 16px;
        background: transparent url(/img/common/icon/security.gif) no-repeat 0 0;
        color: #767676;
        float: left;
        display: inline;
    }
    
    body div.wrapper #remember-security label
    {
        margin: 0 20px 0 0 !important;
    }
    
    #remember-security a.security:hover
    {
        text-decoration: none;
    }

/* RHS */

#RHSPromo
{
    margin: 20px 0 0 0;
    border-top: 3px solid #dd0000;
    position: relative;
    zoom: 1;
}

#RHSTitle
{
    display: block;
    padding: 0 0 0 5px;
}

#RHSPromoContent
{
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    padding: 10px 0;
    height: 199px;
    *height: 179px;
}

#RHSPromoArticles
{
    width: 5000px;
    position: absolute;
}

#RHSPromoScroll
{
    margin: 5px 0 0 0;
    width: 203px;
    height: 179px !important;
    overflow: hidden;
    position: relative;
    zoom: 1;
}

#RHSPromoScroll.except
{
    height: 180px;
}

#RHSPromoArticles div
{
    float: left;
    display: inline;
    background-color: #fff;
    padding: 0 9px;
    width: 203px;
    *width: 185px;
}

#RHSPromoArticles div.except
{
    height: 180px;
}

#RHSPromoArticles div h3
{
    color: #333;
    font-size: 13px;
    margin: 0 0 10px 0;
}

#RHSPromoArticles div h3 img
{
    width: auto;
    height: auto;
}

#RHSPromoArticles div img
{
    display: block;
    width: 185px;
    height: 90px;
}

#RHSPromoArticles div p
{
    margin: 10px 0 0 0;
}

#RHSPromoControl
{
    text-align: center;
    height: 36px;
    background-color: #f4f4f4;
    border: 1px solid #dedede;
    position: relative;
    zoom: 1;
}

#RHSPromoControl b
{
    text-align: center;
    display: inline;
    display: inline-block;
}

#RHSPromoControl span.active
{
    background-position: -389px 2px;
}

#RHSPromoControl span
{
    width: 30px;
    height: 35px;
    display: inline;
    display: inline-block;
    cursor: pointer;
    background-image: url(/img/common/cta/scroll-sprite.png);
    background-repeat: no-repeat;
    background-position: -353px 2px;
}

#RHSPromo_left, #RHSPromo_right
{
    position: absolute;
    width: 30px;
    height: 35px;
    background-image: url(/img/common/cta/scroll-sprite.png);
    background-repeat: no-repeat;
    cursor: pointer;
    
}

#RHSPromo_left
{
    left: 0;
    background-position: -201px 2px;
}

#RHSPromo_right
{
    right: 0;
    background-position: -236px 2px;
}

/* Homepage promotions */
div.homepagePromotions
{
    margin: 20px 0 0 0;
    border: 1px solid #dedede;
}

div.homepagePromotionsWrapper
{
    background-color: #f4f4f4;
    position: relative;
    text-align: center;
    padding: 0 40px;
}

div.homepagePromotions div.promoLeft
{
    position: absolute;
    left: 14px;
    top: 11px;
    cursor: pointer;
    background: transparent url(/img/common/cta/arrow-large-left.png) no-repeat center center;
}

div.homepagePromotions div.promoRight
{
    position: absolute;
    right: 15px;
    top: 11px;
    cursor: pointer;
    background: transparent url(/img/common/cta/arrow-large-right.png) no-repeat center center;
}

div.homepagePromotions div.promoLeft, div.homepagePromotions div.promoRight
{
    height: 178px;
    width: 20px;
    display: block;
    outline: none;
}

div.homepagePromotions div.promoLeft span, div.homepagePromotions div.promoRight span
{
    margin: 50px 0 0 0;
    display: block;
    height: 30px;
    width: 20px;
}

div.homepagePromotions div.promotions
{
    border: 0px none;
    box-shadow: none;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    margin: 0 0 0 0;
}

div.homepagePromotions div.promotionsBody
{
    height: 140px;
    margin: 0 auto !important;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    width: 680px;
    left: -9999px;
    top: -9999px;
}

div.homepagePromotions div.promotionsBody.ready
{
    position: relative;
    left: auto;
    top: auto;
}

div.homepagePromotions div.promotion
{
    float: left;
    display: inline;
    margin: 0 10px 0 0;
    height: 140px;
    width: 160px;
    overflow: visible;
}

div.homepagePromotions div.promotion img.nfw
{
    width: 160px;
    height: 140px;
}

div.homepagePromotions div.promotion a:link,
div.homepagePromotions div.promotion a:visited
{
    height: 140px;
}

div.homepagePromotions div.promotion a span.title
{
    height: 40px;
    *height: 30px;
    display: block;
}

div.homepagePromotions div.promotion span.content
{
    
}

/* Homepage Right Promotions */
div.rPromo a, 
div.rPromo object, 
div.rPromo embed
{
    display: block;
    margin: 15px 0 0 0;
}

div.rPromo object embed
{
    margin: 0;
}

div.rPromo a img
{
    margin: 0;
    display: block;
}


/* Flash Banner */
body div.wrapper div#HP_FlashBanner object.nfw, body div.wrapper div#HP_FlashBanner embed.nfw,
body div.wrapper div#HP_TOBanner object.nfw, body div.wrapper div#HP_TOBanner embed.nfw
{
    display: block !important;
}

/* Important Message */
#important-msg
{
    margin:  25px auto 0;
    width:1000px;
    *width:975px;
    padding: 15px 10px 15px 15px;
    background: #fff8f1 url(/img/common/icon/notice.gif) no-repeat 15px 12px;
    border: 1px solid #ff9d2d;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#important-msg *
{
    font-weight: bold;
}

div.importantMsgContent 
{
    height: 18px;
    padding: 0 0 0 37px;
    overflow: hidden;
    position: relative;
    zoom: 1;
    font-weight: bold;
}

div.importantMsgContent ul
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    top: 0px;
}

div.importantMsgContent li
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    line-height: 18px;
    background: transparent none !important;
}

/* Homepage Panels, HCP & Promotions Wrapper */
div#hpDyn
{
    width: 775px;
    margin: 0 20px 0 0;
    display: inline;
    float: left;
}

div#hpDynContent
{
    height: 397px;
    *height: 396px;
    border-bottom: 1px solid #dedede;
    position: relative;
    zoom: 1;
}

div#hpDynTabs
{
    float: left;
    display: inline;
    width: 385px;
}

div#hpDynHCP
{
    float: right;
    display: inline;
    width: 390px;
    height: 396px;
    background: #fff url(/img/common/wait.gif) center center no-repeat;
    overflow: hidden !important;
}

    div.ancil-hcp img
    {
        width: 390px;
        height: 360px;
    }

div#hpForms
{
    margin: 0 0 0 75px;
    width: 310px;
    height: 396px;
    border-top: 1px solid #dedede;
    position: relative;
    z-index:98;
    zoom: 1;
}

div.hp-form
{
    position: absolute;
    top: 0;
}

div.hp-form iframe
{
    width: 310px;
    height: 395px;
}

/* Homepage Tabs Navigation */
ul.homepageTabs
{
    margin: 0;
    padding: 0;
    width: 82px;
    position: absolute;
    left: 0px;
    z-index: 99;
}

ul.homepageTabs li
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
    zoom:1;
    display: block;
    cursor: pointer;
}

ul.homepageTabs li a
{
    background-position: right top;
    background-repeat: no-repeat;
    background-image: url(/img/specific/homepage/sprites_tab.png);
    color: #374e59;
    font-weight: bold;
    height: 66px;
    text-decoration: none;
    display: block;
    text-shadow: 0 1px 0 #fff;
}

ul.homepageTabs li span
{
    height: 66px;
    width: 82px;
    text-decoration: none;
    padding: 40px 4px 0 0;
    text-align: center;
    display: block;
    *width: 78px;
    *height: 26px;
}

ul.homepageTabs li.active a:link span,
ul.homepageTabs li.active a:visited span,
ul.homepageTabs li a:hover span,
ul.homepageTabs li a:focus span
{
    background-image: url(/img/specific/homepage/sprites_tab.png);
    color: #fff;
    outline: none;
    text-shadow: 0 1px 0 #990000;
    position: absolute;
    height: 67px;
    top: 0px;
    left: 0px;
    *position: relative;
    *height: 27px;
}

ul.homepageTabs li a.flights {}

ul.homepageTabs li a.awards
{
    background-position: right -66px;
}

ul.homepageTabs li a.hotels
{
    background-position: right -132px;
}

ul.homepageTabs li a.cars
{
    background-position: right -198px;
}

ul.homepageTabs li a.activities
{
    background-position: right -264px;
}

ul.homepageTabs li a.packages
{
    background-position: right -330px;
}

ul.homepageTabs li a.transfers
{
    background-position: right -396px;
}

ul.homepageTabs li.active a.flights span,
ul.homepageTabs li a.flights:hover span,
ul.homepageTabs li a.flights:focus span 
{
    background-position: left top;
}

ul.homepageTabs li.active a.awards span,
ul.homepageTabs li a.awards:hover span,
ul.homepageTabs li a.awards:focus span 
{
    background-position: left -66px;
}

ul.homepageTabs li.active a.hotels span,
ul.homepageTabs li a.hotels:hover span,
ul.homepageTabs li a.hotels:focus span
{
    background-position: left -132px;
}

ul.homepageTabs li.active a.cars span,
ul.homepageTabs li a.cars:hover span,
ul.homepageTabs li a.cars:focus span 
{
    background-position: left -198px;
}

ul.homepageTabs li.active a.activities span,
ul.homepageTabs li a.activities:hover span,
ul.homepageTabs li a.activities:focus span
{
    background-position: left -264px;
}

ul.homepageTabs li.active a.packages span,
ul.homepageTabs li a.packages:hover span,
ul.homepageTabs li a.packages:focus span
{
    background-position: left -330px;
}

ul.homepageTabs li.active a.transfers span,
ul.homepageTabs li a.transfers:hover span,
ul.homepageTabs li a.transfers:focus span
{
    background-position: left -396px;
}

/* Flights */
div#flights-tab
{
    width: 310px;
    height: 396px;
}

    #past-search select
    {
        width: 210px;
    }

    fieldset#flights-citydates label, fieldset#flights-class label
    {
         padding: 4px 0 0 0;
    }
    
    div#flights-tab button
    {
        bottom: 10px;
        right: 10px;
        position: absolute;
    }

    div#flights-header
    {
    }

    div#flights-header h2
    {
        font-size: 12px;
        padding: 0 0 10px 0;
        margin: 0;
    }
        
        div#flights-header a.help
        {
            position: absolute;
            top: 35px;
            right: 5px;
            background-position: 10px 9px !important;
            padding: 0 0 0 10px !important;
        }

        div#flights-header a.help span
        {
            padding: 5px 10px !important;
        }
    
        div#flights-header h2 a
        {
            font-weight: normal;
        }
    
    div#flights-header
    {
        padding: 10px 10px 10px 15px;
    }
    
    div#flights-tab fieldset
    {
        padding: 10px 0 5px 15px;
    }
    
    fieldset#flights-types
    {
        padding: 5px 0 5px 15px !important;
        border-top: 1px solid #dedede;
    }
    
        #types-onereturn
        {
            float: left;
            display: inline;
            width: 125px;
        }
        
        fieldset#flights-types span
        {
            float: left;
            display: inline;
        }
        
        #types-onereturn span
        {
            width: 95px;
        }
        
        span#type-return
        {
            margin: 10px 10px 20px 0;
        }
        
        span#type-oneway
        {
            margin: 0 0 0 0;
        }
    
        div#types-multicity
        {
            width: 170px;
            float: right;
            display: inline;
        }
            
            div#types-multicity a
            {
                float: left;
                display: inline;
                width: 145px;
                *width: 120px;              
            }
            
            a#multi-city-link
            {
                margin: 0 0 5px 0;
            }
        
    fieldset#flights-citydates
    {
        border-top: 1px solid #dedede;
    }
    
        fieldset#flights-citydates label,
        fieldset#flights-citydates select,
        fieldset#flights-citydates input
        {
            float: left;
            display: inline;
        }
        
        fieldset#flights-citydates label
        {
            width: 60px;
        }
    
        #cities-from, #cities-to, #dates-from, #dates-to
        {
            padding: 0 0 6px 0;
        }
    
        #cities-from select
        {
            width: 190px;
        }
        
        #cities-to input
        {
            width: 168px;
        }
        
        #dates-flexible
        {
            padding: 0 0 0 60px;
        }
        
            #dates-flexible label
            {
                width: auto;
            }
            
    fieldset#flights-pax
    {
        padding: 6px 0 5px 15px !important;
        border-top: 1px solid #dedede;
    }
        
        fieldset#flights-pax label
        {
            display: block;
            padding: 0 0 5px 0;
        }
        
        div#paxAdult
        {
            float: left;
            display: inline;
            width: 60px;
        }
        
        div#paxChildren
        {
            float: left;
            display: inline;
            width: 100px;
        }
        
        div#paxInfants
        {
            float: left;
            display: inline;
            width: 90px;
        }
    
    fieldset#flights-class
    {
        border-top: 1px solid #dedede;
    }



/* Home Content Panel */
#flights-hcp
{
    width: 390px;
    position: relative;
}

/* HCP Flights */
.hcp-deal
{
    position: absolute;
    width: 390px;
    height: 360px;
}

.hcp-deal a img
{
    width: 390px;
    height: 360px;
}

.hcp-promo a span
{
    position: absolute;
    top: 0;
    left: 0;
}

#flights-promo
{
    position: relative;
    zoom: 1;
    height: 396px;
    width: 390px;
    overflow: hidden;
}

#hcp-cities
{
    
    width: 230px;
    height: 360px;
    z-index: 6;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #dedede;
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
}

#hcp-popular-cities
{
    border-bottom: 1px solid #dedede;
}

#hcp-cities ul
{

    margin: 0 0 0 0;
}

#hcp-cities li.active
{
    font-weight: bold;
    color: #dd0000;
}

#hcp-cities li
{
    padding: 10px;
    background: transparent none;
    cursor: pointer;
    display: block;
}

#hcp-cities li:hover
{
    color: #dd0000;
}

#hcp-deals
{
}

    #hcp-deals h1
    {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    #hcp-deals h2
    {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    #hcp-deals h3
    {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #hcp-deals .hcp-status
    {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }
    
    #hcp-deals .deal
    {
        position: absolute;
        bottom: 15px;
        color: #fff;
        width: 230px;
        right: 0;
        background: transparent url(/img/s.gif);
    }
    
    #hcp-deals .left
    {
        right: auto;
        left: 0;
    }
    
    #hcp-deals .left .deal-taxes, #hcp-deals .left .deal-view-all
    {
        text-align: left;
    }
    
    #hcp-deals .hasExtra div.deal
    {
        bottom: 20px;
    }

.deal-prices
{
}

    .deal-prices dt
    {
        background: rgba(49,70,80,0.9) none;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd374E59, endColorstr=#dd374E59);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd374E59, endColorstr=#dd374E59)";
        zoom: 1;
        padding: 8px 10px;
        text-transform: capitalize;
        color: #fff;
    }
        
        .deal-prices dt span
        {
            color: #fff;
            font-weight: bold;
            display: inline;
            display: inline-block;
            background: transparent url(/img/common/cta/arr-white-down.png) no-repeat right 5px;
            padding: 0 15px 0 0;
            text-decoration: underline;
            cursor: pointer;
        }
        
        .deal-prices dt span:hover
        {
            text-decoration: none;
        }
    
    .deal-prices dd
    {
        background: rgba(0,0,0,0.8) none;
        -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
        zoom: 1;
    }       
        .deal-prices dd a *
        {
            cursor: pointer;
        }
        
            .deal-prices dd a
            {
                zoom: 1;
                color: #fff;
                text-decoration: none;
                display: block;
                padding: 4px 10px 1px 10px;
                *width: 210px;
            }
            
            .deal-prices dd a:hover
            {
                background: #990000 none;
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00990000, endColorstr=#00990000);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00990000, endColorstr=#00990000)";
                cursor: pointer;
                color: #fff;
            }

            .city-price
            {
                display: block;
                padding: 0 0 0 0;
                font-size: 18px;
                font-weight: bold;
                background: transparent url(/img/specific/homepage/line.png) no-repeat -40px 85%;
            }
                
                .to-city
                {
                    float: left;
                    display: inline;
                    width: 130px;
                }
                
                .deal-price
                {
                    float: right;
                    display: inline;
                    text-align: right;
                    position: relative;
                    zoom: 1;
                }
                    
                    .city-price small
                    {
                        display: block;
                        text-align: right;
                        position: relative;
                        top: -2px;
                    }
                    
                    .city-price small.imp-price-top{
                        display: inline;
                        position: absolute;
                        right: -4px;
                        top: 2px;
                    }

.rule
{
    background: rgba(0,0,0,0.8) none;
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
    zoom: 1;
    font-size: 9px;
    padding: 2px 7px 5px 10px;
}

.deal-view-all
{
    background: rgba(49,70,80,0.9) none;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd374E59, endColorstr=#dd374E59);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd374E59, endColorstr=#dd374E59)";
    zoom: 1;
}

.deal-view-all a
{
    
    background: transparent url(/img/common/cta/arr-white-right.png) no-repeat 215px 11px;
    display: block;
    zoom: 1;
    padding: 8px 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.deal-view-all a:hover
{
    text-decoration: underline;
    color: #ffffff;
}

.deal-taxes
{
    zoom: 1;
    background: rgba(0,0,0,0.8) none;
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
    font-size: 9px;
    padding: 0 10px 8px;
}

.deal-conditions
{
    background: rgba(0,0,0,0.8) none;
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
    zoom: 1;
    font-size: 9px;
    display: block;
    position: absolute;
    bottom: 1px;
    width: 100%;
    z-index: 6;
}

.deal-conditions a
{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 2px 0;
    text-align: center;
}

.deal-conditions a:hover
{
    text-decoration: underline;
}

/* HCP Control */
#hcp-control
{
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 390px;
    *width: 388px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    height: 36px;
    background-color: #f4f4f4;
}

div.hcp-count
{
    text-align: center;
    display: inline;
    display: inline-block;
}

div.hcp-count span
{
    background: transparent url(/img/common/cta/scroll-sprite.png) no-repeat -272px center;
    width: 35px;
    height: 35px;
    display: inline;
    display: inline-block;
    cursor: pointer;
}

div.hcp-count span.active
{
    background: transparent url(/img/common/cta/scroll-sprite.png) no-repeat -312px center;
    cursor: pointer;
}

div.hcp-control-left, div.hcp-control-right
{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0px;
    cursor: pointer;
}

div.hcp-control-right
{
    background: transparent url(/img/common/cta/scroll-sprite.png) no-repeat -159px center;
    right: 0;
}

div.hcp-control-left
{
    background: transparent url(/img/common/cta/scroll-sprite.png) no-repeat -113px center;
    left: 0;
}

/* HCP Bottom */
div.hcb
{
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 390px;
    *width: 388px;
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    height: 36px;
    background-color: #f4f4f4;
}

div.hcb a
{
    color: #374e59;
    display: block;
    padding: 10px 0 10px 0;
}

div.hcb a:hover
{
    text-decoration: none;
}


/* Homepage Right Side */
div.homepageRight
{
    width: 205px;
    float: left;
    display: inline;
}

/* Loader */
div#hpFormsLoader
{
    position: absolute;
    width: 310px;
    height: 396px;
    top: 0px;
    left: 0px;
    z-index:3;
    background: #fff url(/img/common/wait.gif) center center no-repeat;
}

/* Common Overrides */
html, body, div.wrapper
{
    min-height: auto;
    height: auto !important;
}

div#footer
{
    bottom: auto !important;
    position: relative !important;
    zoom: 1 !important;
    margin: 20px auto 0 auto !important;
}

div#q-commitment
{
    background-color: #f9f9f9;
    border: 1px solid #dedede;
    position: relative;
    zoom: 1;
    margin:20px auto 0;
    width:1000px;
}

div#q-commitment dl
{
    display: block;
    padding: 0 0 0 281px;
    height: 71px;
}

div#q-commitment dt
{
    position: absolute;
    left: -1px;
    top: -1px;
}

div#q-commitment dd
{
    float: left;
    display: inline;
    font-size: 14px;
    padding: 27px 5px 25px 45px;
    background: transparent url(/img/common/icon/tick.png) no-repeat 20px center;
    color: #767676;
    white-space: nowrap;
}

div#q-commitment dd a
{
    font-size: 14px;
    text-decoration: none;
    color: #767676;
    white-space: nowrap;
}

div#q-commitment dd a:hover
{
    text-decoration: underline;
}


#site-section {
    height: 20px;
    margin: 10px auto 0;
    position: relative;
    width: 1000px;
}
#sections-cta
{
    background: transparent url(/img/common/icon/plus.png) no-repeat left top;
    color: #DD0000;
    cursor: pointer;
    padding: 2px 0 3px 23px;
    position: absolute;
    right: 0;
    text-decoration: underline;
}

#sections-cta:hover
{
    color: #ff0000;
}

#sections-cta.active, #sections-cta:hover
{
    background: transparent url(/img/common/icon/minus.png) no-repeat left top;
    padding: 2px 0 3px 23px;
}

#site-sections
{
    width: 1000px;
    min-height: 740px;
    display: none;
    background-color: #fff;
    position: absolute;
    z-index: 9999;
    top: 25px;
    border: 1px solid #dedede;
    padding: 0 20px 20px 20px;
}

#site-sections div.section
{
    float: left;
    display: inline;
    width: 191px;
}

/*** Mega Menu Fixes***/

div#main {
padding: 25px 0 0;
}
body div.wrapper div#footer
{
    position:relative !important;
    margin:25px 0 0 !important;
    
}
